<!-- ./views/new.handlebars -->
<h1 class="mb-1 restaurant-show-title">新增支出項目</h1>
<div class="container mb-5">
  <div class="row">
    <div class="mx-auto">
      <div class="card" style="width: 30rem">
        <div class="card-body">
          <form action="/records" method="POST" style="display: inline;">
            <div class="mt-3 mb-5">
              <div class="form-group">
                <label for="name">支出項目：</label>
                <input type="text" class="form-control" placeholder="name" name="name">
              </div>
              <div class="form-group">
                <label>分類：</label>
                <select name="category" class="btn-info">
                  <option value="家居物業" selected>家居物業</option>
                  <option value="交通出行">交通出行</option>
                  <option value="休閒娛樂">休閒娛樂</option>
                  <option value="餐飲食品">餐飲食品</option>
                  <option value="其他">其他</option>
                </select>
              </div>
              <div class="form-group">
                <label for="name">金額：</label>
                <input type="text" class="form-control" placeholder="amount" name="amount">
              </div>
              <button type="submit" class="btn btn-success mr-3">新增</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>